@model IEnumerable<CursoMVC.Models.Category>

@{
    ViewData["Title"] = "Categorias";
}

<h1 class="text-center">Lista de categorias</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Adicionar uma categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a class="btn btn-outline-warning mr-2" asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                <a class="btn btn-outline-info mr-2" asp-action="Details" asp-route-id="@item.Id">Detailhes</a> 
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
